body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.box {
    position: fixed;
    left: 0px;
    bottom: 20px;
    z-index: 98;
    background-color: white;
    border: 1px solid #000;
    padding: 5px;
}

li a {
    color: black;
}

li a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: .2s;
}

/* basic positioning */

.legend { list-style: none; }

.legend li { float: left; margin-right: 10px; }

.legend span { float: left; width: 20px; height: 15px; margin: 2px; }

/* legend colors */

.legend .nm { border: 2px solid #ff9900; }

.legend .bek { border: 2px solid #00cc66; }

.legend .soj { border: 2px solid #9933ff; }

.legend .jack { border: 2px solid #996633; }

.legend .lf { border: 2px solid #ff3333; }

.legend .crafty { border: 2px solid #0066ff; }

img { width: 23%; height: auto; position: fixed; top: 10px; right: 10px; z-index: 999; max-width: 205px; }